.bg-img {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-device-width: 768px) {
    background-attachment: scroll;
  }

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #ffffff;
    text-shadow: 2px 2px #1d44c4;
  }
}

.python-bg {
  .bg-img {
    background-image: url('./../../assets/images/black-laptop.jpg');
    height: 100vh;
  }
}

.tutorials-bg {
  .bg-img {
    background-image: url('./../../assets/images/marble-pad.jpg');
    height: 300px;
  }
}

.webdev-bg {
  .bg-img {
    background-image: url('./../../assets/images/tea-laptop.jpg');
    height: 100vh;
  }
}

.main {
  .bg-img {
    background-image: url('./../../assets/images/phone-laptop.jpg');
    height: 100vh;
  }
}

.why {
  .bg-img {
    background-image: url('./../../assets/images/dark-laptop.jpg');
    height: 300px;
  }

  background: #fffdeb;

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.about-us {
  .bg-img {
    background-image: url('./../../assets/images/stats-laptop.jpg');
    height: 300px;
  }
}

.title {
  color: white;
  
  text-align: center;

  width: 80%;
  margin: auto;
  font-size: x-large;

  h1 {
    margin: auto;
  }
}

.text {
  --padding-width: 5rem;
  width: calc(100% - calc(2 * var(--padding-width)));
  padding: 2rem var(--padding-width);
}

.aims {
  text-align: center;
  background: #e8fffb;

  h1 {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: #132cb9;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  hr {
    width: 20rem;
    max-width: 75%;

    margin: 0.5rem auto;
    padding: 0;

    border-width: 0;
    border-top: 2px dashed black !important;
  }
}

.about-us {
  text-align: center;
  background: #eeeeee;

  .text {
    p {
      padding: 1rem 0;
    }

    button {
      border: 0;
      outline: 0;
      width: max-content;
      padding: 1rem;
      background: #82ffa8;
      border-radius: 8px;
      color: black;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      width: 48px;
      height: 48px;
      margin-bottom: 2rem;

      svg {
        width: 48px;
        height: 48px;
      }
    }
  }
}