.tutorial {
  padding: 0 1rem 1rem 1rem;

  h1 {
    border-bottom: 4px solid black;
    width: max-content;
    margin-bottom: 1rem;
  }

  ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
    list-style: disc;
    list-style-position: inside; 

    li {
      margin-bottom: 0.2rem;
    }
  }
}

pre {
  background-color: #fafafa;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: max-content;
  max-width: calc(100% - 2rem);
  word-wrap: break-all;
  white-space: normal;

  code {
    width: 100%;
    word-wrap: break-all;
    white-space: normal;
  }

  .tab {
    display: inline-block;
    margin-left: 20px;
  }
}

.io {
  color: #6e10a5;
}

.comment, .error {
  color: #ff4242;
}

.string {
  color: #1bb10d;
}

.output {
  color: #1b1bf7;
}

.bool {
  color: #eb820a;
}