/* TEXT IMPORT(S) */
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

/* VARIABLES */
:root {
  --fg: #82ffa8;
}

/* DEFAULTS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'manjari', sans-serif;
}

b, em, u, div {
  font-size: 1.2rem;
}

hr {
  width: 100%;

  margin: 0.5rem auto;
  padding: 0;

  border-width: 0;
  border-top: 2px dashed black !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

